<div *ngIf="capitalInfo" class="dashboard__wrapper">
  <h1 class="dashboard__title">
    Info for:
  </h1>
  <div class="dashboard__capital">
    <img [src]="countryFlag" alt="{{capitalInfo}}" class="dashboard__flag">
    <h2 class="dashboard__subtitle">{{capitalInfo}}</h2>
  </div>

</div>
<div *ngIf="!isLoading" class="dashboard">
  <shared-info-card [weatherInfo]="weatherData"></shared-info-card>
  <shared-info-card [timeInfo]="timeData"></shared-info-card>
  <shared-info-card [holidaysInfo]="holidaysData" [daysToHoliday]="daysToHoliday"
    [nextCountryHoliday]="nextCountryHoliday"></shared-info-card>
</div>
<div *ngIf="isLoading" class="dashboard">
  <shared-loading-spinner></shared-loading-spinner>
</div>