@import "../mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100%;
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
