@import "mixin.scss";

:root {
  --color-primary: #8294c4;
  --color-secondary: #acb1d6;
  --color-black: #02010a;
  --color-bg: #dbdfea7b;
  --color-element: #ffead2;
  --color-border: #5c6682;
  --color-white: #fff;
  --color-black: #000;
}
